%h1 Support members usernames and passwords
%table
  %thead
    %tr
      %th username
      %th password
  %tbody
    - members.each do |member|
      %tr
        %td= member.username
        %td memeber

%h1 Tickets unique urls for customers
%table
  %tbody
    - tickets.each do |ticket|
      %tr
        %td= ticket.no
        %td
          = link_to ticket.url, "/tickets/#{ticket.url}"
